@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  overflow-x: hidden !important;
}

* {
  max-width: 100vw;
  box-sizing: border-box;
}
